<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springTest.mappers.user">

    <select id="userLogin" parameterType="springTest.model.LoginInfo" resultType="Int">
        SELECT COUNT(*)
        FROM test
        WHERE id = #{id}
        AND pw = #{pw}
    </select>

    <select id="insertUser">
        INSERT INTO TEST (
        NAME,
        ID,
        PW,
        ADDRESS,
        BIRTH,
        EMAIL
        )VALUES (
        #{name} ,
        #{id} ,
        #{pw} ,
        #{address} ,
        #{birth} ,
        #{email}
        )
    </select>

</mapper>